<div class="container text-center">
  <div class="row">
    <div class="col-md-12">
      <h1>
              I nostri migliori prodotti, i nostri numeri e le nostre recensioni.
      </h1>
    </div>
    <div class="col-md-4 p-2">
      <div class="border rounded shadow">
        <h2>Utenti registrati nel tempo</h2>
      <div echarts [options]="chartOptions" class="demo-chart"></div>
      </div>
    </div>
    <div class="col-md-8 p-2">
      <div class="border rounded shadow">
<h2>Bestseller</h2>
      <div echarts [options]="option" class="demo-chart"></div>
      </div>
    </div>
    <div class="col-md-8 p-2">
      <div class="border rounded shadow">
  <h2>Recensioni</h2>
      <div echarts [options]="opt" class="demo-chart"></div>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="border rounded shadow">
  <h2>Categorie più cliccate</h2>
      <div echarts [options]="series" class="demo-chart"></div>
      </div>
    </div>
  </div>
</div>
