<div class="container text-center">
<div class="row">
<div class="col-md-12">
  <h1 class="p-3">La tua area personale</h1>
</div>
<div class="col-md-4 p-2">
  <div class="p-2 border rounded shadow fs-4">
    <h2 class="p-2">Info</h2>
<div class="m-1 bg-light py-2 rounded shadow">
  <p class="fs-3 fw-bold  ">Nome : </p>
<p class="fs-5">{{user.nomeCompleto}}</p>
</div>
<div class="m-1 bg-light py-2 rounded shadow">
<p class="fs-3 fw-bold  ">Email : </p>
<p class="fs-5 overflow-auto">{{user.email}}</p>
</div>
<div class="m-1 bg-light py-2 rounded shadow">
<p class="fs-3 fw-bold ">Nazione : </p>
<p class="fs-5">{{user.nazione.nome}}</p>
</div>
<div class="m-1 bg-light py-2 rounded shadow">
<p class="fs-3  fw-bold ">Città : </p>
<p class="fs-5">{{user.citta.nome}}</p>
</div>
<div class="m-1 bg-light py-2 rounded shadow">
<p class="fs-3 fw-bold ">Età : </p>
<p class="fs-5">{{user['età']}}</p>
</div>
  </div>
</div>
<div class="col-md-8 p-2">
  <div class="p-2 border rounded shadow fs-4">
    <div class="row">
      <div class="col-md-4 p-3">
        <div class="m-1 bg-light py-2 rounded shadow">
    <p class="fs-3 fw-bold ">Acquisti effettuati : </p>
    <p class="fs-5" *ngIf="acquisti">{{acquisti.length}}</p>
    </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="m-1 bg-light py-2 rounded shadow">
    <p class="fs-3 fw-bold ">Crediti accumulati: </p>
    <p class="fs-5" *ngIf="acquisti">{{user.crediti}}</p>
    </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="m-1 bg-light py-2 rounded shadow">
    <p class="fs-3 fw-bold ">Bozze di ordini : </p>
    <p class="fs-5" *ngIf="bozze">{{bozze.length}}</p>
    </div>
      </div>
      <div class="col-md-12 p-3">
        <div class="m-1 bg-light py-2 rounded shadow">
    <p class="fs-3 fw-bold ">I tuoi prodotti preferiti : </p>
    <p class="fs-5" *ngIf="likes">{{likes.length}}</p>
    </div>
      </div>
      <div class="col-md-12 p-3">
        <div class="m-1 bg-light py-2 rounded shadow">
    <p class="fs-3 fw-bold ">Le tue recensioni : </p>
    <p class="fs-5" *ngIf="recensioni">{{recensioni.length}}</p>
    </div>
      </div>
      <div class="col-md-12 p-3">
        <div class="m-1 bg-light py-2 rounded shadow">
    <p class="fs-3 fw-bold ">Cosa hai cercato di recente?: </p>
    <p class="fs-5"><span *ngFor="let r of ricerca;index as i">{{i!=ricerca.length-1?r.testo+' ,':r.testo}}</span></p>
    </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 p-2">
  <h2 class="p-2">
    La tua scheda anagrafica
  </h2>
  <form [formGroup]="anagrafica">
    <div class="row">
  <div class="col-md-12 p-2">
    <div class="row p-2 border rounded bg-light">
   <div class="col-md-12 p-2">
        <h2>Informazioni personali</h2>
      </div>
      <div class="col-md-4 p-2">
        <label for="" class="form-label">Nome</label>
    <input class="form-control" formControlName="nome">
  </div>
  <div class="col-md-4 p-2">
<label for="" class="form-label">Cognome</label>
  <input class="form-control" formControlName="cognome">
  </div>
  <div class="col-md-4 p-2">
<label for="" class="form-label">Email</label>
  <input class="form-control" formControlName="email">
  </div>
    </div>
  </div>
      <div class="col-md-12 p-2">
        <div class="row p-2 border rounded bg-light">
          <div class="col-md-12 p-2">
    <h2>Tipo Utente</h2>
  </div>
  <div class="col-md-4 p-2">
        <label for="" class="form-label px-3">Utente</label>
        <input type="radio" class="form-check-control" formControlName="tipoUtente" value="UTENTE">
  </div>
  <div class="col-md-4 p-2">
        <label for="" class="form-label px-3">Venditore</label>
        <input type="radio" class="form-check-control" formControlName="tipoUtente" value="VENDITORE">
      </div>
        </div>
      </div>
       <div class="col-md-12 p-2" *ngIf="anagrafica.controls['tipoUtente'].value">
          <div class="row p-2 border rounded bg-light">
           <div class="col-md-12 p-2" *ngIf="anagrafica.controls['tipoUtente'].value&&anagrafica.controls['tipoUtente'].value!=''">
        <h2 *ngIf="anagrafica.controls['tipoUtente'].value=='UTENTE'">Codice fiscale</h2>
        <h2 *ngIf="anagrafica.controls['tipoUtente'].value=='VENDITORE'">Partita Iva</h2>
      </div>
      <div class="col-md-6 p-2">
        <label for="" class="form-label" *ngIf="anagrafica.controls['tipoUtente'].value=='UTENTE'">Codice fiscale (ES. aaaaaa11a11a111a)</label>
        <input type="text" class="form-control" *ngIf="anagrafica.controls['tipoUtente'].value=='UTENTE'"
        formControlName="codiceFiscale">
      </div>
      <div class="col-md-6 p-2">
        <label for="" class="form-label" *ngIf="anagrafica.controls['tipoUtente'].value=='VENDITORE'">Partita iva (ES. 11111111111)</label>
        <input type="text" class="form-control" *ngIf="anagrafica.controls['tipoUtente'].value=='VENDITORE'"
        formControlName="partitaIva">
      </div>
          </div>
        </div>
    <div class="col-md-12 p-2">
      <div class="row p-2 border rounded bg-light">
          <div class="col-md-12 p-2">
        <h2>Indirizzo</h2>
      </div>
<div class="col-md-3 p-2">
<label for="">Via</label>
<input type="text" formControlName="via" class="form-control">
</div>
<div class="col-md-5 p-2">
  <label for="">Indirizzo</label>
  <input type="text" formControlName="indirizzo" class="form-control">
  </div>
  <div class="col-md-2 p-2">
    <label for="">Numero Civico</label>
    <input type="number" formControlName="numeroCivico" class="form-control">
    </div>
  <div class="col-md-2 p-2">
    <label for="">Cap</label>
    <input type="number" formControlName="cap" class="form-control">
    </div>
      </div>
    </div>
    <div class="col-md-12 p-2" *ngIf="anagrafica.controls['tipoUtente'].value=='VENDITORE'">
      <div class="row p-2 border rounded bg-light">
        <div class="col-md-12 p-2" >
      <h2>Capitale sociale</h2>
    </div>
    <div class="col-md-6 p-2" *ngIf="anagrafica.controls['tipoUtente'].value=='VENDITORE'">
      <label for="">Capitale sociale</label>
      <input type="text" formControlName="capitaleSociale" class="form-control">
      </div>
      </div>
    </div>
    </div>
    <div class="col-md-12 p-2">
      <div class="row p-2 border rounded bg-light">
    <div class="col-md-12 py-2 text-center fs-bold text-danger" *ngIf="error!=''">
      {{error}}
    </div>
    <div class="col-md-12 py-2 text-center fs-bold text-success" *ngIf="success!=''">
      {{success}}
    </div>
    <div class="col-md-12 p-2 text-end">
      <button class="btn btn-success" (click)="saveAnagrafica()">Aggiorna anagrafica</button>
    </div>
      </div>
    </div>
  </form>
</div>
<div class="col-md-12 p-2" *ngIf="user && user.role=='VENDITORE'">
<div class="row">
  <div class="col-md-12 p-2">
    <h2>I tuoi prodotti
</h2>
</div>
<div class="col-md-12 p-2" >
  <h2>  I tuoi incassi
</h2>
  </div>
</div>
</div>

</div>
</div>
